{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
<h2>{{ request.user.email }}</h2>

<button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
<button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
<button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
<button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
<a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
<hr>

<div id="emails-view">
</div>

<div id="compose-view">
    <h3>New Email</h3>
    <form id="compose-form">
        <div class="form-group">
            From: <input disabled class="form-control" value="{{ request.user.email }}">
        </div>
        <div class="form-group">
            To: <input id="compose-recipients" class="form-control">
        </div>
        <div class="form-group">
            <input class="form-control" id="compose-subject" placeholder="Subject">
        </div>
        <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
        <input id="send-email" type="submit" class="btn btn-primary" />
    </form>
</div>
{% endblock %}

{% block script %}
<!-- <script src="{% static 'mail/inbox.js' %}"></script> -->
<script>
    document.addEventListener('DOMContentLoaded', function () {

        // Use buttons to toggle between views
        document.querySelector('#inbox').addEventListener('click', () => load_mailbox('inbox'));
        document.querySelector('#sent').addEventListener('click', () => load_mailbox('sent'));
        document.querySelector('#archived').addEventListener('click', () => load_mailbox('archive'));
        document.querySelector('#compose').addEventListener('click', compose_email);

        // Send the email

        document.querySelector('#send-email').addEventListener('click', send_email);

        // By default, load the inbox
        load_mailbox('inbox');
    });

    function compose_email() {

        // Show compose view and hide other views
        document.querySelector('#emails-view').style.display = 'none';
        document.querySelector('#compose-view').style.display = 'block';

        // Clear out composition fields
        document.querySelector('#compose-recipients').value = '';
        document.querySelector('#compose-subject').value = '';
        document.querySelector('#compose-body').value = '';


    }

    function send_email() {
        fetch('/emails', {
            method: 'POST',
            body: JSON.stringify({
                recipients: document.querySelector('#compose-recipients').value,
                subject: document.querySelector('#compose-subject').value,
                body: document.querySelector('#compose-body').value
            })
        })
            .then(response => response.json())
            .then(result => {
                // Print result
                console.log(result);
            });
    }

    function load_mailbox(mailbox) {

        // Show the mailbox and hide other views
        document.querySelector('#emails-view').style.display = 'block';
        document.querySelector('#compose-view').style.display = 'none';

        // Show the mailbox name
        document.querySelector('#emails-view').innerHTML = `<h3>${mailbox.charAt(0).toUpperCase() + mailbox.slice(1)}</h3>`;
        let list = document.createElement("ul")
        document.querySelector("#emails-view").appendChild(list)
        if (mailbox == "inbox") {
            fetch('/emails/inbox')
                .then(response => response.json())
                .then(emails => {
                    // Print emails
                    console.log(emails);

                    // ... do something else with emails ...
                    for (let i = 0; i < emails.length; i++) {
                        // console.log(emails[i].sender,emails[i].subject);
                        let myli = document.createElement("li");
                        myli.setAttribute("class", "d-flex justify-content-between border border-dark p-1")
                        sender = document.createElement("span")
                        sender.innerHTML = emails[i].sender
                        subject = document.createElement("span")
                        subject.innerHTML = emails[i].subject
                        timestamp = document.createElement("span")
                        timestamp.innerHTML = emails[i].timestamp
                        myli.appendChild(sender)
                        myli.appendChild(subject)
                        myli.appendChild(timestamp)
                        list.appendChild(myli)
                        
                    }

                });
        }
    
        if (mailbox == "sent") {
            fetch('/emails/sent')
                .then(response => response.json())
                .then(emails => {
                    // Print emails
                    console.log(emails);

                    // ... do something else with emails ...
                    for (let i = 0; i < emails.length; i++) {
                        let two_recipients = emails[i].recipients[0] + ", " + emails[i].recipients[1]
                        console.log(two_recipients)
                        let myli = document.createElement("li");
                        myli.setAttribute("class", "d-flex justify-content-between border border-dark p-1")
                        recipients = document.createElement("span")
                        recipients.innerHTML = emails[i].sender
                        subject = document.createElement("span")
                        subject.innerHTML = emails[i].subject
                        timestamp = document.createElement("span")
                        timestamp.innerHTML = emails[i].timestamp
                        myli.appendChild(sender)
                        myli.appendChild(subject)
                        myli.appendChild(timestamp)
                        list.appendChild(myli)
                        
                    }

                });
        }
    
    }
</script>
{% endblock %}